<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Upps, the thing that you are looking for is no longer here!</h5>
    <h5 class="text-center text-white mt-5">We are very sorry.</h5>
    <img class="mx-auto d-block" th:src="@{/images/404.jpg}" alt="Error page">
    <br/>
    <a th:href="@{/}">Go home...</a>
</div>

<div>
    <nav th:replace="~{fragments/footer}"></nav>

</div>

</body>
</html>