<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>

<body>

<nav>
    <footer
            th:fragment="footer"
            class="footer footer-expand-lg bg-dark footer-dark fixed-bottom">
        <!-- Copyright -->
        <div class="text-center p-4 text-secondary" style="background-color: rgba(30,40,50);">
            © 2023 All rights reserved:
            <a class="text-reset fw-bold " href="http://localhost:8080/">Hotelier</a>
        </div>
        <!-- Copyright -->
    </footer>
</nav>

</body>
</html>
