<!DOCTYPE html>
<html lang="en" >

<head th:replace="~{fragments/head}">
</head>

<body>


    <div>
        <nav th:replace="~{fragments/navbar}"></nav>
    </div>


<div class="container">
    <h2 class="text-center text-white m-3 ">All Hotel Chains</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div  class="brand-section col-md-5 mr-auto rounded d-flex flex-column p-3 border border-secondary mx-auto" style="width: 200px;">
            <h2>Names:
            </h2>
            <div>Hotel chains:
                <table>
                    <tr th:each="hotelChain : ${hotelChains}">
                        <th th:text="${hotelChain.name()}">Name</th>
<!--                        <th>Name</th>-->
<!--                        <th>Category</th>-->
<!--                        <th>Description</th>-->
<!--                        <th>Picture</th>-->
<!--                        <th><img alt="image" src="/"-->
<!--                                 class="img-thumbnail rounded"></th>-->
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <div>
        <nav th:replace="~{fragments/footer}"></nav>

    </div>
</div>
</body>
</html>
