<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
    <h4 class="text-center text-grey mt-lg-5">Welcome to Hotelier,
        <th:block sec:authorize="isAuthenticated()">
            <th:block sec:authentication="name"></th:block>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
            Anonymous!
        </th:block>



    </h4>
    <hr class="my-3 bg-white w-75"/>
    <p class="h5 text-center text-grey mt-lg-5">
        Hotelier is the newest online app, where travel agencies can upload
        available accommodation for different locations and sell them to other agencies. </p>
    <hr class="my-3 bg-white w-75"/>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
