
<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form th:method="POST"
          th:action="@{/offer/add}"
          th:object="${createOfferDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <!-- Room Type  -->
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="roomType">Room type</label>
                <select id="roomType"
                        th:field="*{roomType}"
                        th:errorclass="is-invalid"
                        th:name="roomType"
                        class="form-control">
                    <option value="">- Select room type -</option>
                    <option th:each="r : ${T(com.example.hotelier.model.enums.RoomTypeEnum).values()}"
                            th:text = "${r}"
                            th:value = "${r}"
                            th:selected = "${r} == *{roomType}">
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Room type is required.
                </p>
            </div>


            <!-- price -->
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Total price</label>
                <input id="price"
                       th:name="price"
                       th:field = "*{price}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="Room total price"/>
                <p  class="invalid-feedback errors alert alert-danger">
                    Total price is required.
                </p>
            </div>
            <!-- End - price -->
        </div>

        <!-- Hotel -->
        <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label class="text-center text-white font-weight-bold" for="hotelId">Hotel name</label>
                            <select id="hotelId"
                                   th:name="hotelId"
                                   th:errorclass="is-invalid"
                                   class="form-control">
                            <option value="">- Select a hotel -</option>
                            <optgroup
                                th:each="hotelChain : ${hotelChains}"
                                th:label="${hotelChain.name()}">

                               <option
                                   th:each="hotel : ${hotelChain.hotels()}"
                                   th:text="${hotel.name}"
                               th:value="${hotel.id}"
                               th:selected="*{hotelId} == ${hotel.id}">
                                   Hotel
                               </option>
                            </optgroup>
                            </select>
                            <p class="invalid-feedback errors alert alert-danger">
                                Hotel name is required.
                            </p>
                        </div>

            <!-- Stars -->

           <div class="form-group col-md-6 mb-3">

          </div>
       </div>

        <!-- year -->
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="startDate" class="text-white font-weight-bold">Start date</label>
                <input id="startDate"
                       th:name="startDate"
                       th:field="*{startDate}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="Start date"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Start date is required.
                </p>
            </div>

            <!-- Nights count-->
            <div class="form-group col-md-6 mb-3">
                <label for="nightsCount" class="text-white font-weight-bold">Nights Count</label>
                <input id="nightsCount"
                       th:name="nightsCount"
                       th:field="*{nightsCount}"
                       th:errorclass="is-invalid"
                       type="number" min="0" max="900000" step="1"
                       class="form-control"
                       placeholder="Number of nights"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Number of nights is required.
                </p>
            </div>
        </div>

        <!-- Description -->
        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea id="description"
                      th:name="description"
                      th:field="*{description}"
                      th:errorclass="is-invalid"
                      type="textarea"
                      class="form-control" rows="3"
                      placeholder="Description"></textarea>
            <p class="invalid-feedback rrors alert alert-danger">
                Description is required.
            </p>
        </div>

        <!-- image -->
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input id="imageUrl"
                   th:field="*{imageUrl}"
                   th:errorclass="is-invalid"
                   type="url"
                   class="form-control"
                   placeholder="Put room image URL here">
            <p class="invalid-feedback errors alert alert-danger">
                Room image URL is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <nav th:replace="~{fragments/footer}"></nav>

</div>

</body>
</html>